{% extends "base.html" %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}

    <header>
        {% block nav %} {% include 'nav.html' %} {% endblock nav %}
    </header>
    
    <div class="text-center p-5 m-5">
        <h2><strong>WE HAVE NEGOTIATED A GROUP RATE FOR THE CODING CLUB MEMBERS' ACCESS AREA MONTHLY FEE FROM <strike class="strike"> $297</strike>/PERSON TO THE PRICE YOU SEE BELOW.</strong></h2>
        <h3 class="pt-3">PARENTS ARE ENCOURAGED TO OBTAIN ACCESS FOR EACH MEMBER NOW SO WE DON'T LOSE THIS GROUP RATE.</h3>
        <h3 class="pt-5"><strong>RAODOH CODING CLUB MEMBERS' ACCESS FEE</strong></h3>
        <h4>Make Sure To Use The Same Email You Will Use To Access Your Member Area</h4>
    </div>
    
    <footer style="background-color: #0174C7;" class="text-white mt-4">
        {% block footer %} {% include 'footer.html' %} {% endblock footer %}
    </footer>

{% endblock %}
