{% extends "base.html" %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}

    {% block nav %} {% include 'nav.html' %} {% endblock nav %}
        <div class="container text-center p-5 mt-5">
            <img class="img-fluid" src="{% static '/img/Coding.png' %}" >
            <h4><strong>WE HAVE NEGOTIATED A GROUP RATE FOR THE CODING CLUB MEMBERS' ACCESS AREA MONTHLY FEE FROM <strike class="red"> $297</strike>/PERSON TO THE PRICE YOU SEE BELOW.</strong></h4>
            <h6 class="pt-3">PARENTS ARE ENCOURAGED TO OBTAIN ACCESS FOR EACH MEMBER NOW SO WE DON'T LOSE THIS GROUP RATE.</h6>
            <h5 class="pt-3"><strong>RAODOH CODING CLUB MEMBERS' ACCESS FEE</strong></h5>
            <h6>Make Sure To Use The Same Email You Will Use To Access Your Member Area</h6>
        </div>
    {% block footer %} {% include 'footer.html' %} {% endblock footer %}

{% endblock %}
