django==2.2.24
gunicorn
django-crispy-forms
djongo
dnspython
cloudinary
django_countries
django-filter
pillow
python-decouple
django-cors-headers
django-csp
django-progressive-web-app
python-social-auth
social-auth-app-django
whitenoise
django-heroku
