/* navbar */

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.bg-light {
    background-color: #f8f9fa!important;
}


.navbar-default {
    background-color: #0174C7;
    border-color: #0174C7;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.strike{
    color: rgb(228, 59, 44);
}
/* 
h2{
    font-size: 46px;
}
h3{
    font-size: 32px;
} */


/* login page */
.reset-pwd{
    padding-left: 5rem;
    color: #0174C7;
}
.wrapper {
    display: flex;
    width: 100%;
}

/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #fff;
}

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.video-fluid {
  width: 100%;
  height: auto;
}


