/* navbar */
.navbar-default {
    background-color: #0174C7;
    border-color: #0174C7;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.strike{
    color: rgb(228, 59, 44);
}
/* 
h2{
    font-size: 46px;
}
h3{
    font-size: 32px;
} */


/* login page */
.reset-pwd{
    padding-left: 5rem;
    color: #0174C7;
}