.sidenav-header {
    background: #0174C7;
    color: #f1f1f1;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 250px;
  position: fixed;  /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #2B3A4D;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #f1f1f1;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #0174C7;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  top: 0;
  font-size: 36px;
  margin-left: 200px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #014A7F;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #012B49;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  font-size:32px;
  float: right;
  padding-right: 8px;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidenav a, .dropdown-btn {
    float: none;
    text-align: center;
  }
  .sidenav h4{
    text-align: center;
  }
  #content {
        width: 100%;
        margin-left: 0;
  }

}

