{% extends "base.html" %}
{% load static %}
{% block title %} Members Area {% endblock %}
{% block content %}

    
    
    
    <div class="wrapper">
        
    <sidebar>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </sidebar>
    <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                      <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                      </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Account</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <h2>Course Title</h2>
            <p style="color: #999";>Lesson Title</p>

             <div class="embed-responsive embed-responsive-16by9">
                 <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg" allowfullscreen></iframe>
             </div>

<!--            <video class="video-fluid z-depth-1" autoplay loop controls muted>-->
<!--              <source src="https://www.youtube.com/embed/v64KOxKVLVg" type="video/mp4" />-->
<!--            </video>-->
<!--        -->
            <div class="line"></div>


            <div class="line"></div>

           </div>






    </div>

</div>


{% block js %}
  <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>


    <script>
        $(document).ready(function () {

        $("#sidebar").mCustomScrollbar({
             theme: "minimal"
        });

        $('#sidebarCollapse').on('click', function () {
            // open or close navbar
            $('#sidebar').toggleClass('active');
            // close dropdowns
            $('.collapse.in').toggleClass('in');
            // and also adjust aria-expanded attributes we use for the open/closed arrows
            // in our CSS
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

    });
    </script>
{% endblock js %}

{% endblock %}
