{% extends "base.html" %}
{% load static %}

{% load cloudinary %}
{% block title %} Lesson {% endblock %}


{% block stylesheet %}
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
{% endblock stylesheet %}


{% block content %}

<div class="wrapper">
    <sidebar>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </sidebar>

    <div id="content">
        {% block members_nav %} {% include 'members_nav.html' %} {% endblock members_nav %}

        <h2>{{ lessons.course.title }}</h2>
        <p style="color: #999";>{{ lessons.title }}</p>

<!--        <video width='100%' height="auto" controls>-->
<!--            <source src='{{ MEDIA_URL }}{{ lessons.video }}' type='video/mp4'>-->
<!--            Your browser does not support the video tag.-->
<!--        </video>-->

        <iframe width="1015" height="592" frameborder="0" scrolling="no" src="{{ lessons.video_url }}" allowfullscreen="true"></iframe>

        <div class="line"></div>
        <div class="line"></div>
    </div>

</div>




{% endblock %}


{% block js %}
<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>


{% endblock js %}