

{% load static %}
{% block footer %}

<footer style="background-color: #0174C7;" class="text-white mt-4">
    <div class="container ">
        <div class="row">
            <div class="col-md-10 col-xs-1 mx-auto">
                <h3 class="mt-5 text-center">Help Kids Build Their Future So They Don't Watch Others Build Theirs...</h3>
            </div>
        </div>
        <hr class="" />
        <div class="row">
            <div class="col-md-6 col-xs-2 d-flex flex-row p-3">
                <img src="{% static '/img/seal1.png' %}" style="width: 70px; height: 90px;">
                <div class="ml-5">
                    <h3>ONLY YOU CAN GUARANTEE YOUR CHILD'S FUTURE...</h3>
                    <p>No question asked we will do all we can to help but "All hands must be on deck". Rock solid guarantee...</p>
                </div>
            </div>
            <div class="col-md-6 col-xs-2 d-flex flex-row p-3">
                <img src="{% static '/img/grey-lock.png' %}" class="ml-2" style="max-width: 60px; height: 60px;">
                <div class="ml-5">
                    <h3>Secure Payment</h3>
                    <p>All orders are through a very secure network. Your credit card information is never stored in any way. We respect your privacy...</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-5" />
    <div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 mx-auto text-center">
            <p>&copy; 2020 RAODOH CODING CLUB - All Rights Reserved</p>
        </div>
    </div>
    </div>
</footer>


{% endblock footer %}