

{% load static %}
{% block footer %}


    <div class="container ">
        <div class="row">
            <div class="col-md-10 col-xs-1 mx-auto">
                <h3 class="mt-5 text-center">Help Kids Build Their Future So They Don't Watch Others Build Theirs...</h3>
            </div>
        </div>
        <hr class="" />
        <div class="row">
            <div class="col-md-6 col-xs-2">
                <img src="{% static '/img/seal1.png' %}" class="ml-2">
                <h3>ONLY YOU CAN GUARANTEE YOUR CHILD'S FUTURE...</h3>
            </div>
            <div class="col-md-6 col-xs-2">
                <img src="{% static '/img/grey-lock.png' %}" class="ml-2">
                <h3>Secure Payment</h3>
            </div>
        </div>
    </div>
        
        <hr class="mt-5" />
       <div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 mx-auto">
            <p>&copy; 2020 RAODOH CODING CLUB - All Rights Reserved - Terms Of Service</p>
        </div>
    </div>
</footer>


{% endblock footer %}