{% load static %}

{% block stylesheet %}
    <!-- Custom styles for sidebar -->
    <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block sidebar %}
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <a class="navbar-brand" href="/">
                <img src="{% static '/img/Raodoh_logo.png' %}" alt="logo" class="img-responsive" style="height: 60px; width: 200px">
            </a>
        </div>
       

        <ul class="list-unstyled components">
            <h4 class="ml-2">Courses</h4>
            {% for course in courses %}
                <li class="active">
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{ course.title | slice:":24"}}</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        {% for lesson in course.lessons.all %}
                            <li>
                                <a href="{% url 'lesson' lesson.pk%}">{{ lesson.title }}</a>
                            </li>
                        {% endfor %}

                    </ul>
                </li>
            {% endfor %}
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
            </li>
            <li>
                <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
            </li>
        </ul>
    </nav>



{% endblock sidebar %}



