{% load static %}

{% block stylesheet %}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
{% endblock stylesheet %}


{% block sidebar %}
<div class="sidenav">
    <div class="sidenav-header">
        <a  href="/">
            <img src="{% static '/img/Raodoh_logo.png' %}" alt="logo" class="img-responsive" style="height: 60px; width: 200px">
        </a>
    </div>
<!--    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->

    <h4 class="white m-3 pt-3">Courses</h4>
    {% for course in courses %}
      <button class="dropdown-btn">{{ course.title | slice:":24"}}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
          {% for lesson in course.lessons.all  %}
            <a href="{% url 'lesson' lesson.pk %}">{{ lesson.title }}</a>
          {% endfor %}
      </div>
    {% endfor %}
</div>
{% endblock sidebar %}



{% block js %}
<script type="text/javascript">
    //* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
        } else {
          dropdownContent.style.display = "block";
        }
      });
    }
</script>

{% endblock js %}

